<form id="upload">
    <input type="file" name="userfile1"><br>
    <input type="submit">
</form>
<pre id="status"></pre>
<script>
  (function () {
    const fieldName = 'userfile1'
    const field = document.querySelector(`[name=${fieldName}]`)
    const uploadForm = document.getElementById('upload')
    const status = document.getElementById('status')
    let file
    field.addEventListener('change', function () {
        file = this.files[0]
    })
    uploadForm.addEventListener('submit', event => {
      console.log(event.target)
      event.preventDefault()
      if (!file) {
        return
      }
      const xhr = new XMLHttpRequest()
      xhr.file = file
      xhr.open('PUT', window.location, true)
      xhr.setRequestHeader('x-field', fieldName)
      xhr.setRequestHeader('x-filename', file.filename || file.name)
      xhr.onload = updateStatus
      xhr.send(file)
      file = ''
      uploadForm.reset()
    })

    function updateStatus() {
      status.innerHTML += this.status === 200
        ? this.response
        : this.status + ': ' + this.response
    }
  }())
</script>
