<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Add it up!</h1>
  <form action="/add/calculate" method="post" id="calc-form">
      <input type="text" name="first" id="first" value="<%= first %>">
      <input type="text" name="second" id="second" value="<%= second %>">
  </form>
  <button type="submit" form="calc-form" value="Submit">Submit</button>
  <h2>result = <%= result %></h2>
</body>
</html>
