<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Login</h1>
    <% if (fail) { %>
    <h2>Try again</h2>
    <% } %>
    <form method="post" action="login">
        User: <input type="text" name="un"><br>
        Password: <input type="password" name="pw"><br>
        <input type="submit" value="login">
    </form>
</body>
</html>
