<form method="post">
    <input type="text" name="userinput1">
    <input type="text" name="userinput2">
    <input type="submit">
</form>
<script>
    document.forms[0].addEventListener('submit', function (event) {
      event.preventDefault()
      let form = this
      let data = Object.keys(form).reduce((acc, val) => {
        if (form[val].name) {
          acc[form[val].name] = form[val].value
        }
        return acc
      }, {})
      form.innerHTML = ''
      let xhr = new XMLHttpRequest()
      xhr.open('POST', '/')
      xhr.setRequestHeader('Content-Type', 'application/json')
      xhr.send(JSON.stringify(data))
      xhr.addEventListener('load', function (...args) {
        console.log({ args })
        let res
        try {
          res = JSON.parse(this.response)
        } catch (e) {
          res = { error: 'Mangled Response'}
        }
        form.innerHTML = res.error
          ? res.error
          : 'You posted: ' + JSON.stringify(res.data)
      })
    })
</script>
