<input id="msg"><button id="send">Send</button>
<div id="output"></div>
<script>
  (function () {
    const ws = new WebSocket('ws://localhost:8080')
    const output = document.getElementById('output')
    const send = document.getElementById('send')
    function log(event, msg) {
      return `<div>${event}: ${msg}</div>`
    }

    send.addEventListener('click', () => {
      const msg = document.getElementById('msg').value
      ws.send(msg)
      output.innerHTML += log('Sent', msg)
    })
    ws.onmessage = event => (output.innerHTML += log('Received', event.data))
    ws.onclose = event => (output.innerHTML += log('Disconnected', `${event.code}-${event.type}`))
    ws.onerror = event => (output.innerHTML += log('Error', event.data))
  }())
</script>
